$primary-font-family: 'Roboto', Arial, sans-serif;
$primary-text-color: #ffffff;

$case-study: #231f20;
$grey: #5b5b5b;
$sky-blue: #4f71ed;
$dark-blue: #01011c;
$green: #92C493;
$lighter-purple: #A95589;
$yellow: #E3C25A;
$orange: #D6916A;
$blue: #03033f;
$light-grey: #f2f2f2;
$semi-grey: #4c4c4c;
$white-grey: #f4f4f4;
$btn-blue: #090833;
$border-blue: #4b406b;
$footer-blue: #12043d;
$light-dark: #3a3a3a;
$dark-text: #5e6060;
$light-yellow: #f7f7f7;
$grey-list: #686868;
$link-color: #636beb;
